<!-- src/app/app.component.html -->
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Household Manager</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/products">Products</a>
    <a class="nav-item nav-link" routerLink="/todos">Todos</a>
    <a class="nav-item nav-link" routerLink="/stock">Stock</a>
    <a class="nav-item nav-link" routerLink="/requisition">Requisition</a>
  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" routerLink="/login">Login</a>
    <a class="nav-item nav-link" routerLink="/register">Register</a>
  </div>
</nav>

<router-outlet></router-outlet>
